.selected {
    position: absolute;
    height: 100%;
    width: 1em;
    border-top-left-radius: .25em;
    border-bottom-left-radius: .25em;
    background-color: darkviolet;
}

.destination {
    font-weight: bold;
}

.carpoolListDetail {
    cursor: pointer;
}

.carpoolListDetail p {
    margin-bottom: 0;
}

.cardBody {
    font-size: small;
}