.wrapper {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: 100%;
}

.updateButton {
    float: right;
}

.hr {
    width: 100%;
    margin-top: .5em;
    margin-bottom: 1.5em;
    border-width: 2px;
}