.login {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#bx-drive-logo {
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    font-size: xxx-large;
    text-align: center;
}

#signIn .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

#signIn .form-control:focus {
    z-index: 2;
}

#inputUsername {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

#inputPassword {
    margin-bottom: 50px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
