.screen {
    position: relative;
    display: flex;
    flex-flow: column;
    height: 100vh;
    overflow: hidden;
}

.content {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-flow: row;
}

.mapColumn {
    position: relative;
    flex-basis: 75%;
    flex-grow: 1;
}

.carpoolColumn {
    position: relative;
    flex-basis: 25%;
    flex-grow: 1;
    height: calc(100vh - 56px);
}
